body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #003366;
    font-size: 18px;
}

header {
    background-color: #003366;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 10px 0 0 0;
    font-size: 1.4em;
}

.container {
    display: flex;
    min-height: calc(100vh - 140px);
}

.sidebar {
    width: 250px;
    background-color: #cecece;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar h2 {
    color: #003366;
    margin-top: 0;
    font-size: 1.4em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.2em;
}

.sidebar a:hover {
    background-color: #66CC99;
    color: #FFFFFF;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #FFFFFF;
}

#content-area {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1em;
}

footer {
    background-color: #003366;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1.1em;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        padding: 10px;
    }
    body {
        font-size: 16px;
    }
    header h1 {
        font-size: 2.5em;
    }
    .sidebar a {
        font-size: 1.1em;
    }
}
